@media (orientation: landscape) {

    :root {
        --mdatac-left: calc(40vw - 10px);
        --maindata-height: calc(100% - 20px);
        --maindata-center: calc(var(--maindata-height) * 0.5);
    }

    #main {
        background: var(--bg-black-tr-50);
    }

    #mdatac {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: none;
        padding: 0;
    }

    #mdata-songinfo {
        height: unset;
        max-height: var(--maindata-height);
        width: 60vw;
        left: var(--mdatac-left);
        top: var(--maindata-center);
        transform: translatey(-50%);
        position: absolute;
        padding: 0 5px;
    }

    body:not(.compact) #mdatac #mdata-songinfo > div {
        white-space: normal;
    }

    #mdata-various-left {
        margin-left: 5px;
    }
    
    /* image */
    #mdataimgc {
        left: 0;
        top: 0;
        width: var(--mdatac-left);
        height: var(--maindata-height);
        position: absolute;
    }
    #mdataimg {
        right: 0;
        left: unset;
        transform: translatey(-50%);
    }

    /* #mdata-imgbgc {
        opacity: 0.5;
    } */

    /* bottom part */
    #mdataprogc, #mdataprog, #mdata-various {
        width: 100%;
        left: 0;
    }
    #mdataprogc, #mdata-various {
        position: absolute;
    }

    #mdata-various {
        bottom: 2px;
        height: 17px;
        width: 100%;
    }

    /* #mdataprogc {
        bottom: 0;
    } */

    /* moreinfo */
    #moreinfo {
        height: calc(100% - 10px);
    }
}