:root {
    --bg: #000;
    --fg: #fff;
    --bg-grey-tr: rgba(37,37,37,0.75);
    --bg-black-tr-75: rgba(0,0,0,0.75);
    --bg-black-tr-50: rgba(0,0,0,0.5);
    --cirno: #00eeff;
    --cirno-see-thru: rgba(0, 238, 255, 0.4);
}

/*** global stuff (or supposed to be global) and oneoff stuff ***/
* {
    outline: none;
}
body {
    margin: 0;
    background: var(--bg);
    color: var(--fg);
    font-family: 'open sans','noto sans';
    overflow: hidden;
}
.menuheader, .menusubheader {
    background: #252525;
    height: 24px;
    font-family: 'open sans light';
}
.menusubheader {
    background: rgb(30,30,30);
    color: #999;
    font-style: italic;
    padding: 0 10px;
}
.menuheader {
    text-align: center;
    height: 27px;
    font-size: 16px;
    padding-top: 3px;
}
.screen {
    /* height: calc(100vh - 60px); */
    height: calc(100vh - 30px);
    width: 100vw;
    position: absolute;
    /* top: 30px; */
}
.screenin {
    height: calc(100vh - 60px);
    overflow-y: scroll;
    overflow-x: hidden;
}
#alertMessage {
    transition: transform 100ms, opacity 100ms;
    /* transform: translateY(-100%); */
    position: absolute;
    transform: none;
    opacity: 1;
    top: 0;
    width: 100vw;
    padding: 5px 0;
    height: auto;
    z-index: 100;
    background: var(--bg-grey-tr);
    /* white-space: pre-wrap; */
}
#alertMessage.hidden {
    opacity: 0;
    transform: translateY(-100%);
}
#alertMessageText {
    position: relative;
    left: 25vw;
    width: 65vw;
    white-space: pre-line;
}
#alertMessageImgContainer {
    position: absolute;
    top: 5px;
    left: 5vw;
    width: 15vw;
    height: 15vw;
}
#alertMessage.noimage #alertMessageText {
    width: 90vw;
    left: 5vw;
}
#alertMessage.noimage #alertMessageImgContainer {
    display: none;
}

.option-menu.noscreen {
    bottom: 30px;
}
.option-menu {
    position: absolute;
    bottom: 0;
    width: 100vw;
    /* background: var(--bg-grey-tr); */
    /* background: var(--bg-black-tr-75); */
    background: var(--bg);
    z-index: 5;
}

.option-entry {
    height: 24px;
    padding: 0 5px;
    overflow: hidden;
    position: relative;
    /* transition: background-color linear 0.1s; */
}
.option-entry:focus {
    background: var(--cirno-see-thru)
}

/* image fit and center to cintainer */
img.fitCenterContainer {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/*** navigation bar ***/
#navbar {
    position: absolute;
    width: 100vw;
    height: 30px;
    /* bottom: 0; */
    top: calc(100vh - 30px);
    /* background: var(--bg-grey-tr); */
    background: var(--bg);
}
#navbar-left, #navbar-right, #navbar-center {
    position: absolute; 
    top: 4px;
    text-transform: capitalize;
}
#navbar-center {
    left: 50%; 
    transform: translateX(-50%);
    text-transform: uppercase;
    font-weight: bold;
}
#navbar-left {left: 5px;}
#navbar-right {right: 5px;}

/*** main playing screeeeee ***/
#mdatac {
    height: 80px;
    width: calc(100vw - 10px);
    padding: 0 5px;
    overflow: hidden;
    position: relative;
    background: var(--bg-grey-tr);
}

/*** metadata (main box size in main playing scree... ***/
#mdatac div {
    overflow: hidden;
}
#mdata-songinfo > div {
    text-overflow: ellipsis;
    white-space: nowrap;
}
#mdata-title {
    font-size: 18px;
}
#mdata-artist, #mdata-album {
    opacity: 0.5;
    font-size: 14px;
}
/* various info bar */
#mdata-various {
    font-size: 12px;
}
#mdata-various-right {
    position: absolute;
    right: 5px;
}

/* image */
#mdataimgc {
    width: 100vw;
    height: calc(100vh - 110px);
    position: relative;
}
#mdataimgoverlay {
    height: 75px;
    padding-top: 5px;
    width: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    text-align: center;
    background: var(--bg-black-tr-75);
    border-radius: 5px;
    border: 1px solid var(--fg);
}
#mdataimg {
    max-width: 95%;
    max-height: 95%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 5px var(--bg);
}
#mdata-imgbg {
    width: calc(100vw + 20px);
    height: calc(100vh + 20px);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    filter: blur(10px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#mdata-imgbgc {
    overflow: hidden;
    top: 0;
    left: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
}


/* mini ver */
@media (orientation: portrait) {
    body.compact #mdatac, body.minfoshow #mdatac {
        height: 41px;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    body.compact #mdatac #mdata-title,
    body.minfoshow #mdatac #mdata-title {
        font-size: 18px;
        display: inline;
    }
    body.compact #mdatac #mdata-artist, 
    body.minfoshow #mdatac #mdata-artist, 
    body.compact #mdatac #mdata-album,
    body.minfoshow #mdatac #mdata-album {
        display: inline;
        padding-left: 0;
    }
    body.compact #mdataimgc,
    body.minfoshow #mdataimgc {
        height: calc(100vh - 71px);
    }
}

/* progress */
#mdataprogc, #mdataprog {
    height: 2px;
    width: 100vw;
}
#mdataprogc {
    padding: 0/*  !important */;
    background: #444;
    bottom: 0;
    left: 0;
    position: absolute;
    overflow: hidden;
}
#mdataprog {
    padding: 0/*  !important */;
    background: var(--cirno);
    /* background: var(--fg); */
    position: absolute;
}

/*** history screen ***/
#historyin {
    text-overflow: ellipsis;
    white-space: nowrap;
    background: var(--bg-black-tr-50);
    position: relative;
}
.historyitem {
    width: 100vw;
    height: 50px;
    position: relative;
    line-height: 1.15;
}
.historyitem:focus {
    background: var(--cirno-see-thru)
}
.historyitem_imgc {
    width: 50px;
    height: 50px;
    position: relative;
    background: var(--bg-black-tr-50);
}
.historyitem_textcnt {
    /* width: calc(100vw - 50px); */
    position: absolute;
    left: 52px;
    top: 1px;
    /* font-size: 14px; */
    overflow: hidden;
}
.historyitem_textcnt div span {
    position: relative;
}
.historyitem_textcnt_time {font-size: 11px;}
.historyitem_textcnt_artist {
    font-size: 14px;
    position: relative;
    top: -1px;
}

.historyitem_npc {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background: var(--bg-black-tr-75);
}
/* .historyitem_np {
    font-size: 9px;
    text-align: center;
    animation-name: blinkfade;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes blinkfade {
    from { opacity: 1 }
    to { opacity: 0.25 }
}
 */


/*** option menu ***/

#optionin {
    max-height: 70vh;
    overflow-y: scroll;
    
}
.optionradiocont, .optionpref-cont {
    position: absolute;
    right: 5px;
}
.optionpref-cont {
    border: 1px solid var(--fg);
    border-radius: 4px;
    padding: 2px;
    display: inline-block;
    width: 12px;
    height: 12px;
    top: 3px;
}
.optionpref {
    width: 12px;
    height: 12px;
    position: absolute;
    /* top: 0; */
}
/* for bluetooth icon */
/* #bgload-bluetooth-indicator {
    position: absolute;
    width: 17px;
    height: 17px;
    position: absolute;
    padding: 2px;
    right: 30px;
    opacity: 1;
    top: 1;
}
 */
/* radio btn */
.optionradiocont {
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 1px solid var(--fg);
    border-radius: 50%;
    padding: 2px;
    overflow: hidden;
    top: 3px;
}
.optionradio {
    height: 100%;
    width: 100%;
    background: var(--fg);
    border-radius: 50%;
}


.optionoptc:not(.optionoptc-bitr) img {
    vertical-align: middle;
    opacity: 0;
}
.optionoptc-bitr img {
    opacity: 1;
}


/*** more info ***/
#moreinfo {
    position: absolute;
    height: calc(100vh - 81px);
    width: 100vw;
    background: var(--bg-grey-tr);
    overflow: scroll;
    bottom: 0;
    padding: 5px 0;
    opacity: 0;
    font-size: 14px;
    font-style: italic;
}
.moreinfocnt {
    /* text-align: right; */
    margin-left: 15px;
    font-style: normal;
    font-size: medium; /* medium results in the default size */
    word-wrap: break-word;
    /* word-break: break-all; */
}
.moreinfo-entry {
    padding: 0 5px 3px;
}
.moreinfo-entry:focus {
    background: var(--cirno-see-thru)
}
/* #moreinfo-circle, #moreinfo-circlesite {
    margin-bottom: 0;
}*/

#moreinfo-circleimg-cont {
    text-align: center;
    width: calc(100vw - 10px);
}
#moreinfo-circleimg {
    width: 216px; /* 90% of horizontal width in portrait mode; to reduce height for horizontal screens. */
    height: auto;
    box-shadow: 0px 0px 3px var(--bg);
}
#moreinfo-circlesite {
    font-size: 12px;
}

/* star rating */
#moreinfo-rating-stars-cont-cont {
    position: relative;
    height: 16px;
}
/* #moreinfo-rating-stars-cont {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    text-align: left;
} */
.moreinfo-rating-star-in, .moreinfo-rating-star {
    background-size: 16px;
    height: 16px;
    width: 16px;
    display: inline-block;

}
.moreinfo-rating-star-in {
    background-image: url('img/star.png');
    position: absolute;
    top: 0;
}
.moreinfo-rating-star {
    background-image: url('img/star_outline.png');
    overflow: hidden;
    position: relative;
}

/* about */
#aboutin {
    background: var(--bg-grey-tr);
    /* text-align: center; */
    padding: 0 8px;
}
#aboutin .link {
    color: var(--cirno);
}
#aboutin .link:focus {
    background: var(--cirno-see-thru);
    color: var(--fg);
}